#root {
  margin: 0 auto;
  word-wrap: break-word;
  width: 80%;
}

.card {
  padding: 1em;
  border-radius: 1rem;
  margin-top: 1rem;
  border: 2px solid #81c9f9; /* 蓝色边框 */
  box-shadow: 0 0 10px #3498db; /* 蓝色外发光效果 */
}

.error-card {
  padding: 0.5rem;
  border-radius: 1rem;
  border:1px solid red;
  margin-top: 1rem;
  color: red;
}

.read-the-docs {
  color: #888;
}

a.inline-link{
  margin-left: 2rem;
}

span.bold {
  margin-left: 1rem;
  font-weight: bold;
}

h2 {
  text-align: center;
}

